[alias]
  hist = log --graph --color=always --pretty='[%C(cyan)%h%Creset]%C(bold cyan)%d%Creset %s' --all
  co = checkout
  branches = for-each-ref --sort=-committerdate refs/heads/
[color]
  ui = auto
[push]
  default = upstream
[core]
	excludesfile = /Users/pgurkov/.gitignore
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[oh-my-zsh]
  hide-dirty = 1
[include]
  path = ~/.gitconfig.booking
