#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!fonts&stuff
UXTerm*faceSize: 11
UXTerm*eightBitInput: false
!UXTerm*faceName: Fira Mono Regular
UXTerm*faceName: JetBrains Mono NL Regular

!Background & foreground
UXTerm*background: S_base3
UXTerm*foreground: S_base00
UXTerm*fading: 40
UXTerm*fadeColor: S_base3
UXTerm*cursorColor: S_base01
UXTerm*pointerColorBackground: S_base1
UXTerm*pointerColorForeground: S_base01
UXTerm*boldColors: false

!UXTerm*borderColor: #343434

!Turning off scrollbar
UXTerm*scrollBar:  off

!Starting up with a geometry
UXTerm*vt100*geometry:   160x50

!Colors
!-------------------------
!black
UXTerm*color0: S_base02
UXTerm*color8: S_base03

!red
UXTerm*color1: S_red
UXTerm*color9: S_orange

!green
UXTerm*color2: S_green
UXTerm*color10: S_base01

!yellow
UXTerm*color3: S_yellow
UXTerm*color11: S_base00

!blue
UXTerm*color4: S_blue
UXTerm*color12: S_base0

!magenta
UXTerm*color5: S_magenta
UXTerm*color13: S_violet

!cyan
UXTerm*color6: S_cyan
UXTerm*color14: S_base1

!white
UXTerm*color7: S_base2
UXTerm*color15: S_base3


UXTerm*translations:    #override \n\
    Ctrl Shift <Key> C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key> V: insert-selection(CLIPBOARD)

UXTerm*metaSendsEscape: true

Xft.dpi: 144
! Xcursor.size: 32
! Xcursor.theme: Mocu-Black-Left
